<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76AC72C44D34558DD1E4EF4C374B0BD624FE770E</string>
				<key>dateExpires</key>
				<string>5/8/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K88KJEQGP3.com.quandrio.student</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K88KJEQGP3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>K88KJEQGP3.com.quandrio.mobile</string>
				</array>
			</dict>
			<key>name</key>
			<string>mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0df88001-50c8-4c74-a40b-5c65679af60e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.quandrio.student</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K88KJEQGP3</string>
				<key>name</key>
				<string>Evan Goodwin</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
