<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>631842494969-i8157n1lv5kstsko901gk9rhik3frd4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631842494969-i8157n1lv5kstsko901gk9rhik3frd4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBpNabl7QMp3DbCSEDZSTjsqrxE22Clu-s</string>
	<key>GCM_SENDER_ID</key>
	<string>631842494969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quandrio.quandrio</string>
	<key>PROJECT_ID</key>
	<string>quandrio-3c837</string>
	<key>STORAGE_BUCKET</key>
	<string>quandrio-3c837.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631842494969:ios:a60444d8cbaae670</string>
	<key>DATABASE_URL</key>
	<string>https://quandrio-3c837.firebaseio.com</string>
</dict>
</plist>